 body {
    background-color: aqua;
    background-repeat: repeat-x;
    background-position: top center;
    
}
#header .section{
    border-style: solid;
    border-color: aqua;
    border-width: medium;
}
        
#header .section ul {
	display: inline-block;
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 3px 0 0;
}
#header .section ul li {
	background: url(C:\Users\Lakshan\Desktop\officialPage\officialPage\images\bg-nav-right.gif) no-repeat top right;
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
#header .section ul li a {
	background: url(C:\Users\Lakshan\Desktop\officialPage\officialPage\images\bg-nav-left.gif) no-repeat top left;
	color: blue;
	display: inline-block;
	font-size: 16px;
	height: 30px;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#header .section ul li a:hover {
	color: red;
}
#header .section ul li.selected {
	background: url(../images/bg-nav-right-selected.gif) no-repeat top right;
}
#header .section ul li.selected a {
	background: url(../images/bg-nav-left-selected.gif) no-repeat top left;
}
#header .section img{
        display: block;
	float: right;
	margin: 0 50px 0 0;
	padding: 0;
}
#middle .article {
	background: padding-box;
	border: 20px solid #5fb3bd;
	border-radius: 4px;
	margin: 0px;
	overflow: hidden;
	padding: 0;
	width: 936px;
}
#middle .article img {
	display: block;
	float: left;
	margin: 0 50px 0 0;
	padding: 0;
}
#middle .article h1 {
	color: #1b2130;
	font-family: 'ChangaOne';
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	line-height: 50px;
	padding: 110px 30px 30px;
}
h1 {
    font-family:times new roman;
    color: blue;
    text-align: left;
    font-size: 30px;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

