/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 17, 2014, 10:06:24 PM
    Author     : Chathura
*/
@font-face{
    src:url('../fonts/MATURASC.ttf');
    font-family: titles;
}
body{
    color: white; 
}

#background{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
}

#container{
    width: 800px;
    height: 400px;    
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    margin-top: -200px;
    margin-left: -400px;
    top:50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);   

    padding: 5px;
}

#name{
    text-align: center;
    font-family: titles;
    margin: 0;
    padding: 0;
}

#index{
    text-align: center;
    font-family: fantasy;
    margin: 0;
    padding: 0;
}

.containers{
    float: left;
    display: inline;
    margin: 5px;
}

#left_container{
    width: 25%;
}

#right_container{
    width: 70%;
    padding: 10px;
    
}

#pic{
    border: 1px solid white;
    box-shadow: 1px 1px 10px white;
}

p{
    font-family: sans-serif;
}

#social_links a img{
    padding: 0;
    transform: scale(1);
    transition-duration: 1s;
}

#social_links a img:hover{
    transform: scale(1.3);
    transition-duration: 1s;
}

a{
    color: white;
    text-decoration: none;
}
