body
{
	background-color:white;
	background-image:url('Wallpaper-Blue-Light-Patterns-Colors.jpg');
}

sd
{
	text-align:center;
	font-size:50px;
	color:black;
	text-shadow:white 4px 4px 5px;
	font-weight:bold;
	font:Comic Sans MS; 
}