/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Aug-2014, 19:24:16
    Author     : aseladarshan
*/
#index {
    color: #8A0886;
}
#name{
    color:gold;  
}
