body {
	background: #b5b5b5;
	margin: 0;
	border: 0;
}

h1 {
	font-family: lane;
	font-size: 40pt;
	color: #FF9900;
	text-shadow: 3px 2px 3px rgba(0, 0, 0, 1);
	padding: 30px 0 40px 0;
}

h2 {
	font-family: lane;
	font-size: 18pt;
	color:#FF9900;
}

#container  {
	text-align: center;
	z-index: 10;
}

#bgpic {
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	z-index: -1;
}

#header {
	text-align: left;
	margin-left: 15.5em;
	z-index: 10;
	width: 945px;

}

#content {
	background-image: url(../images/contentbg.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-family: newcircle;
	font-size: 14pt;
	text-align: justify;
	width: 432px;
	height: 554px;
	margin-left: 18%;
	margin-right: auto;
	padding-top: 30px;
}

#content h2 {
	padding: 0px 40px 10px 40px;
	
}

#content p {
	padding: 0px 40px 10px 40px;
	line-height: 24pt;
}

#content ul {
	margin-left: 60px;
	margin-top: 10px;
}

#content li {
	padding-bottom: 10px;
	list-style-type: disc;
}

#social-media {
	text-align: center;
	margin-top: 15px;
}

#social-media img {
	padding-right: 10px;
}

.hstyle {
	color: #fff;
}

.shadow {
	-webkit-box-shadow: 0px 10px 10px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 10px 10px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 10px 10px 9px rgba(50, 50, 50, 0.75);
}

.bg {
	position: absolute;
	position-top: 0;
}	

.last{
	margin-bottom: 20px;
}